<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Simple Collapsible</h2>
  <p>Click on the button to toggle between showing and hiding content.</p>

      <% seasons_bb.forEach(season => { %>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#season-<%= season.season_num %>">Season <%= season.season_num %></button>

        <!-- Div que se esconde con cada botón -->
        <div id="season-<%= season.season_num %>" class="collapse">

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Episode Number</th>
                <th scope="col">Episode Title</th>
              </tr>
            </thead>
            <tbody>
              <% season.season_eps.forEach(ep => { %>
              <tr onclick="window.location='/episodes/details?id=<%= ep.episode_id %>'">
                <th scope="row"><%= ep.episode %></th>
                <td><%= ep.title %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>

        </div>

        <% })%>

</div>

</body>
</html>
