<h1>Detalles del personaje:</h1>

<table>
  <tr>
    <td>Nombre</td>
    <td><%= char.name %></td>
  </tr>
  <tr>
    <td>Nickname</td>
    <td><%= char.nickname %></td>
  </tr>
  <tr>
    <td>ID del personaje</td>
    <td><%= char.char_id %></td>
  </tr>
  <tr>
    <td>Ocupaciones</td>
    <td>
      <% char.occupation.forEach(ocupation => { %>
        <p><%= ocupation %></p>
      <% }) %>
    </td>
  </tr>
  <tr>
    <td>Imagen</td>
    <td><img src="<%= char.img %>" alt="<%= char.name %>.jpg"></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= char.status %></td>
  </tr>
  <tr>
    <td>Portrayed</td>
    <td><%= char.portrayed %></td>
  </tr>
  <tr>
    <td>Categoría</td>
    <td><%= char.category %></td>
  </tr>
  <tr>
    <td>Apariciones en Breaking Bad</td>
    <td>
      <% char.appearance.forEach(num => { %>
        <p><a href="/seasons?=bb<%= num %>">Season <%= num %></a></p>
      <% }) %>
    </td>
  </tr>
  <tr>
    <td>Apariciones en Better Call Saul</td>
    <td>
      <% char.better_call_saul_appearance.forEach(num => { %>
        <p><a href="/seasons?=bcs<%= num %>">Season <%= num %></a></p>
      <% }) %>
    </td>
  </tr>
</table>

<hr>

<h1>Frases:</h1>

<table>
  <% quotes.forEach(quote => { %>
    <tr>
      <td style="font-style: italic">-"<%= quote.quote %>"</td>
    </tr>

  <% }) %>
</table>
