
<%- include('../shared/styles')%>
<%- include('../shared/searchbar')%>

<div class="card" style="margin-left: 25%; width: 50%; margin-top: 15px">
  <div class="card-header">
    Resultados de la búsqueda: "<%= name %>"
  </div>
  <div class="card-body">
    <% if (char_num === 0) { %>
      <p>No hay resultados para mostrar</p>
    <% } else { %>
      <table class="table table-hover">
        <tr>
          <th>Serie</th>
          <th>Personaje</th>
        </tr>
        <% char_list.forEach(char => { %>
          <tr>
            <td><%= char.category %></td>
            <td><a href="/characters/details?name=<%= char.searchableName %>"><%= char.name %></a></td>
          </tr>
        <% }) %>
      </table>
    <% } %>

    <a href="/characters/search?name=<%= name %>&page=<%= prevPage %>" class="btn btn-primary">Página previa</a>
    <a href="/characters/search?name=<%= name %>&page=<%= nextPage %>" class="btn btn-primary">Página siguiente</a>
  </div>
</div>
